<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Favorites Page</title>
    <link rel="stylesheet" href="/stylesheet/index.css" />
  </head>
  <body>
    <div style="text-align: center; margin-top: 20%">
      <h1>Favorites Page</h1>
    </div>
    <div style="position: fixed; bottom: 10px; width: 100%; text-align: center">
      <a href="/favorites">Favorites</a> |
      <a href="/">Home Page</a>
    </div>
  </body>
</html>