<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Main Home Page</title>
    <link rel="stylesheet" href="/stylesheet/index.css" />
  </head>
  <body>
    <div style="text-align: center; margin-top: 20%">
      <h1 style="font-size: 3em; font-weight: bold">Here's Some Advice</h1>
      <div style="margin-top: 20px">
        <label for="numberInput">Enter a number:</label>
        <input type="number" id="numberInput" name="numberInput" />
      </div>
    </div>
    <div style="position: fixed; bottom: 10px; width: 100%; text-align: center">
      <a href="favorites.html">Favorites</a> |
      <a href="index.html">Home Page</a>
    </div>
  </body>
</html>
