<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Main Home Page</title>
    <link type="text/css" rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div style="text-align: center; margin-top: 20%">
      <h1 style="font-size: 3em; font-weight: bold">Get Some Advice</h1>

      <div style="margin-top: 20px">
        <form action="/showAdvice" method="post">
          <label for="numberInput">Enter a number between 1 and 224:</label>
          <input type="number" id="numberInput" name="numberInput" />
          <button type="submit">Enter</button>
        </form>
      </div>
    </div>
    <div style="position: fixed; bottom: 10px; width: 100%; text-align: center">
      <a href="/">Home Page</a>
      |
      <a href="/favorites">Favorites</a>
    </div>
  </body>
</html>
