<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Show Advice Page</title>
    <link type="text/css" rel="stylesheet" href="templates/style.css" />
  </head>
  <body>
    <div class="content">
      <h1>Advice for: <%= num %></h1>
      <div class="advice-text">
        <p id="adviceText"><%= adviceTxt %></p>
      </div>
      <form id="favoriteForm" method="POST" action="/favoriteQuote">
        <input type="hidden" name="adviceText" value="<%= adviceTxt %>" />
        <button type="submit">Favorite quote</button>
      </form>
    </div>
    <div class="links">
      <a href="/">Home Page</a>
    </div>
  </body>
</html>
