<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Show Advice Page</title>
    <link rel="stylesheet" href="/stylesheet/index.css" />
  </head>
  <body>

    <div>
      <h1>Advice for: <%= num %></h1>
    </div>

    <div style="position: fixed; bottom: 10px; width: 100%; text-align: center">
      <a href="/favorites">Favorites</a> |
      <a href="/">Home Page</a>
    </div>
  </body>
</html>