body {
  background-color: #e6e6fa; /* Light purple background */
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  text-align: center;
  margin-top: 20%;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  color: #4b0082; /* Indigo color for the header text */
}

.advice-text {
  margin-top: 20px;
  font-size: 1.2em;
  color: #4b0082; /* Indigo color for the advice text */
}

button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #4b0082; /* Indigo background */
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #9932cc; /* Dark orchid background on hover */
}

.links {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

a {
  font-size: 1em;
  font-weight: bold;
  color: #4b0082; /* Indigo color for links */
  text-decoration: none;
  margin: 0 10px;
}

a:hover {
  color: #9932cc; /* Dark orchid color on hover */
}
